<div class="header">
  <div class="nav-button left">
    <a href="/friends">
      Friends
    </a>
  </div>
  <div class="nav-button right">
    <a href="/profile">
      Your Profile
    </a>
  </div>
  <h1>
    Latest Uglies
  </h1>
</div>
<div class="container">
  <a href="/uglie/add">
    <div class="camera">
        <img src="/img/camera.png">
    </div>
  </a>
  {{#feedItems}}
  <a href="/uglie/{{this.id}}">
    <div class="uglie">
      <h2>{{this.name}}</h2>
      <img src="/uploads/{{this.path}}">
      <p>Owned by {{this._owner.username}}</p>
      <p>Created by {{this._creator.username}}</p>
      <p>{{this.likes.length}} Likes</p>
    </div>
  </a>
  {{/feedItems}}
</div>
