<div class="header">
  <div class="nav-button left">
    <a href="/friends">
      Friends
    </a>
  </div>
  {{#if isYou}}
  <div class="nav-button right">
    <a href="/logout">
      Logout
    </a>
  </div>
  {{/if}}
  <h1>{{title}}</h1>
</div>
<div class="container">
  {{#if isYou}}
  <a href="/uglie/add">
    <div class="camera">
        <img src="/img/camera.png">
    </div>
  </a>
  {{/if}}
  {{#uglies}}
  <a href="/uglie/{{this.id}}">
    <div class="uglie">
      <h2>{{this.name}}</h2>
      <img src="/uploads/{{this.path}}">
    </div>
  </a>
  {{else}}
    {{#if isYou}}
      <p class="onboard">You don't have any uglies yet! <br/><br/> Click the camera button below to create your first one.</p>
    {{/if}}
  {{/uglies}}
</div>
