<div class="header">
  <div class="nav-button left">
      <span id="back" onclick="window.history.back()">
      Cancel 
      </span>
  </div>
  <div class="nav-button right">
    <span id="request">
    Request
    </span>
  </div>
  <h1 class="owner-id" id="{{uglie._owner.id}}">
    Trade with {{uglie._owner.username}}
  </h1>
</div>
<div class="container">
    <div class="uglie uglie-trade" id="{{uglie.id}}">
      <h2>{{uglie.name}}</h2>
      <img src="/uploads/{{uglie.path}}">
    <p>Likes: {{uglie.likes.length}}</p>
    </div>
  <div class="trade-list">
    <h3>Select the uglie(s) you want to offer</h3>
  {{#yourUglies}}
    <div class="uglie tradeable" id="{{this.id}}">
      <h2>{{this.name}}</h2>
      <img src="/uploads/{{this.path}}">
      <p>{{this.likes.length}} Likes</p>
    </div>
  {{/yourUglies}}
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/trade.js"></script>
